__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Assets & Media
/temp/
/output/
!output/used_topics.json
/assets/
!/assets/visuals/
!/assets/visuals/*
*.mp4
*.mp3
*.wav
*.mpeg
*.png
*.jpg
*.pdf

# Models (too large for standard Git)
*.onnx
*.bin

# Secrets & Credentials
client_secrets.json
credentials.json
token.json
client_secret_*.json
API AND CREDINTIALS.txt

# Logs
*.log
run_log.txt
debug_output.txt
filtered_log*.txt